.myModal, .myModalEnd {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background: linear-gradient(148deg, #FFFFFF 50%, #FFF3EB 50%);

    display: flex;
    justify-content: center;
    align-items: center;

}

.myModalContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.myModalEnd {
    background: #F5F5F7;
}
