.myBtn {
    padding: 20px 24px;

    width: 296px;

    background: #FF8B37;
    border-radius: 12px;
    border: #FF8B37;

    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 116%;
    color: #FFFFFF;

    margin-top: 65px;
}

.myBtn:hover {
    background: #FFAC70;
}

.myBtn:focus {
    background: #E87928;
}
